html {
  height: 100%;
  width: 100%;
}

.Title{
  line-height: 100%;
  width: 100%;
  text-align: center;
  font-size: 500%;
  font-style: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.Subtitle{
    line-height: 50%;
    width: 100%;
    text-align: center;
    font-size: 300%;
    font-style: normal;
    font-family:'Arial Narrow', sans-serif;
    color: white;
  }
}

.MainExpl{
  font-size: 150%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  align-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5%;
  clear: both;
  display: table;
  color:white;
}

.MainExpl button{
  width: 30%;
  height: 100%;
  font-size: 150%;
  background-color: lightcyan;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:black
}

.MainExpl button:hover{
  color:red
}

.Img{
  max-width: 75%;
  max-height: 75%;
  background-color: darkred;
  border-radius: 0%;
}

.Devtag{
  line-height: 100%;
  width: 100%;
  text-align: center;
  font-size: 200%;
  font-style: normal;
  font-family: monospace;
  color: white;
  background-color: black;
  position: absolute;
  bottom:0%;
}

.secretbutton{
  font-size: 100%;
  color: white;
  display: none;
}

.SocialUI{
  width: 60%;
  background-color: yellow;
  border-color: purple;
  border-radius: 3%;
  align-self: center;
  float:left;
}

.Post{
  height:110%;
  width:60%;
  background-color: gray;
  border-color: green;
  border-radius: 3%;
  align-self: center;
}

.Responsebox{
  width: 40%;
  background-color: red;
  border-color: purple;
  border-radius: 3%;
  align-self: center;
  float: right;
}